@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// SASS VAIABLES
$minW: 250px;
$maxW: 600px;
$gap1: 1em;
$bordRad1: 30px;
$shadow1: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
$transitionTime1: .5s;
$transitionTime2: 1s;
$colorPrimary: var(--colorPrimary, #20a1fd);
$colorCover: #1d1d1dc9;

//CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
:root {
    --colorBG1: rgb(255, 255, 255);
    --colorBG2: rgb(230, 230, 230);
    --colorText: rgb(17, 17, 17);
}
.darkmode {
    --colorBG1: rgb(20 20 20);
    --colorBG2: rgb(30 30 30);
    --colorText: rgb(243, 243, 243);
}
body {
    padding: 1em 1em 0 1em;
    background-color: var(--colorBG1);
    min-width: $minW;
    transition: background-color $transitionTime1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom, $colorPrimary, transparent);
    z-index: -1;
}
.hide {
    opacity: 0;
}
.logo {
    height: 19px;
}
main {
    min-height: 90svh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    grid-row-gap: $gap1;
    color: var(--colorText);
}
main > div {
    grid-column: span 12;
    transition: .5s opacity;
}

#loading {
    z-index: 99999999;
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(0, 0, 0);
    background-color: $colorPrimary;
    background-image: linear-gradient(#ffffff24, transparent, #0000002e);
    text-transform: uppercase;
    font-weight: bold;
    transition: opacity .2s;
    text-shadow: $shadow1;
    font-size: 2em;

    svg {
        width: clamp(100px, 50%, 250px);
        animation: loading 1s infinite;

        @keyframes loading {
            0%, 100% {transform: scale(1);}
            80% {transform: scale(.8);}
        }
    }
    div {
        z-index: 1;
    }
}
#preLoader::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(200deg, transparent, rgba(15, 15, 15, 0.418));
}

/////////// COVER ///////////
#cover {
    position: relative;
    width: clamp($minW, 100%, $maxW);
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: bold;

    .link {color: white;}

    .lost {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 60%;
        color: red;
        text-shadow: $shadow1;
        font-size: 1.5em;
        animation: lost1 5s infinite;

        @keyframes lost1 {
            0%, 100% {opacity: 1;}
            50% {opacity: 0;}
        }
    }
    .top, .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        padding: 0.5em 1em;
        z-index: 1;
    }

    .top {
        top: 0;

        .brand {
            display: flex;
            align-items: center;
            column-gap: 5px;
        }
    }

    .bottom {
        bottom: 0;
    }

    h1 {
        text-transform: uppercase;
        font-size: 1.7em;
        text-shadow: $shadow1;
    }

    #media {
        height: 100%;
        img, video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $bordRad1;
            box-shadow: $shadow1;
        }
    }
    #media::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(to bottom, $colorCover, transparent, transparent, transparent, $colorCover);
        border-radius: $bordRad1;
    }
}

/////////// DETAILS ///////////
.box {
    transition: background-color $transitionTime2;
    border-radius: $bordRad1;
    width: clamp($minW, 100%, $maxW);
    display: flex;
    flex-direction: column;
    gap: $gap1;

    .buttons {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        flex-wrap: wrap;
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
    }
}

/////////// NAVIGATION ///////////
nav {
    color: var(--colorBG2);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    font-size: 22px;
    text-align: center;
    width: clamp($minW, 100%, calc($maxW + 100px));
    box-shadow: $shadow1, 0 0 3em $colorPrimary;
    background-color: $colorPrimary;

    a, .link {
        color: white;
        text-shadow: $shadow1;
    }
    .info {
        display: flex;
        justify-content: space-evenly;
        padding: 7px;
        font-size: 1.5em;
    }
    #notify {
        color: red;
        background-color: rgb(240, 240, 240);
        font-size: 1.1em;
        font-weight: bold;
    }
}

@media only screen and (min-width: $maxW) {
    nav {
        border-radius: 1em 1em 0 0;
    }
}